@using LearningApp.Models;
@model CourseCreateDto

@{
	ViewData["Title"] = "Create";
}
<section class="d-flex justify-content-center align-items-center mt-5">
	<div class="row">
	<h4>Courses</h4>
	<hr />
		<div class="col-md-12">
			<form asp-action="Create" method="post" enctype="multipart/form-data">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group">
					<label asp-for="Title" class="control-label"></label>
					<input asp-for="Title" class="form-control" />
					<span asp-validation-for="Title" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Description" class="control-label"></label>
					<input asp-for="Description" class="form-control" />
					<span asp-validation-for="Description" class="text-danger"></span>
				</div>
				@if (User.IsInRole("Admin"))
				{
					<div class="form-group">
						<label asp-for="InstructorId" class="control-label">Instructor Name</label>
						<select asp-for="InstructorId" class="form-control">
							@foreach (var item in ViewBag.InstructorId)
							{
								<option value="@item.Value">@item.Text</option>
							}

						</select>
					</div>
				}
				else
				{
					<div class="form-group">
						<label class="control-label"></label>
						<input value="@ViewBag.InstructorName" class="form-control" disabled />
						<input asp-for="InstructorId" value="@ViewBag.InstructorId" class="form-control" hidden/>
					</div>
						
				}

				<div class="form-group">
					<label asp-for="Category" class="control-label"></label>
					<input asp-for="Category" class="form-control" />
					<span asp-validation-for="Category" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="EnrollmentCount" class="control-label"></label>
					<input asp-for="EnrollmentCount" class="form-control" />
					<span asp-validation-for="EnrollmentCount" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="CourseImage"></label>
					<input type="file" name="CourseImage" class="form-control" />
					<small class="text-danger"><strong>*</strong> Resminiz 400:200 oranında olmalıdır.</small>
				</div>
				<div class="form-group">
					<label asp-for="CourseDuration" class="control-label"></label>
					<input asp-for="CourseDuration" class="form-control" />
					<span asp-validation-for="CourseDuration" class="text-danger"></span>
				</div>
				<div class="form-group">
					<input type="submit" value="Create" class="btn btn-primary btn-sm mt-3" />

					<div>
						<a class="btn btn-success btn-sm mt-3"  asp-action="CourseList" asp-controller="Users">Back to List</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
