@{
    ViewData["Title"] = "Contact";
    Layout = null;
}

<link rel="stylesheet" href="~/css/styleContact.css">

<div class="contact">
    <div id="container">
        <h2>contact</h2>
        <form action="#" method="post" id="contact_form">
            <div class="name">
                <label for="name"></label>
                <input type="text" placeholder="name" name="name" id="name_input" required>
            </div>
            <div class="email">
                <label for="email"></label>
                <input type="email" placeholder="e-mail" name="email" id="email_input" required>
            </div>
            <div class="subject">
                <label for="subject"></label>
                <select placeholder="subject line" name="subject" id="subject_input" required>
                    <option disabled hidden selected>subject</option>
                    <option>Just sayin' "hi"!</option>
                    <option>Quick question.</option>
                    <option>How about a commission?</option>
                </select>
            </div>
            <div class="message">
                <label for="message"></label>
                <textarea name="message" placeholder="message" id="message_input" cols="30" rows="5" required></textarea>
            </div>
            <div class="submit">
                <input type="submit" value="submit" id="form_button" />
            </div>
        </form>
    </div>
</div>
